<h2>Enroll in <%= @course.name %></h2>

<script src="https://js.stripe.com/v3/"></script>

<form id="payment-form" action="<%= students_enrollments_path %>" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :course_id, @course.id %>

  <input type="email" name="stripeEmail" placeholder="Email" required>
  <div id="card-element"></div>
  <button type="submit">Pay & Enroll</button>
</form>

<script>
  var stripe = Stripe('<%= Rails.application.credentials.dig(:stripe, :publishable_key) %>');
  var elements = stripe.elements();
  var card = elements.create('card');
  card.mount('#card-element');

  var form = document.getElementById('payment-form');
  form.addEventListener('submit', async function(event) {
    event.preventDefault();
    const { token, error } = await stripe.createToken(card);
    if (error) {
      alert(error.message);
    } else {
      var hiddenInput = document.createElement('input');
      hiddenInput.setAttribute('type', 'hidden');
      hiddenInput.setAttribute('name', 'stripeToken');
      hiddenInput.setAttribute('value', token.id);
      form.appendChild(hiddenInput);
      form.submit();
    }
  });
</script>
